html {
  background-image: url('assets/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /*background-position: center center;*/
}
body {
  font-family: "Times New Roman", Times, serif;
  font-size: 22px;
  background-image: url('assets/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.content {
  margin: auto;
  max-width: 400px;
  max-height: 200px;
  text-align: center;
  background-color: darkgrey;
}

h1,
h2 {
  max-width: 1000px;
},
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  text-decoration: inherit;
}

b,
strong {
  font-weight: bolder;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

[type='text'],[type='email'],[type='url'],[type='password'],[type='number'],[type='date'],[type='datetime-local'],[type='month'],[type='search'],[type='tel'],[type='time'],[type='week'],[multiple],textarea,select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  border-radius: 0px;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  font-size: 1rem;
  line-height: 1rem;
  --tw-shadow: 0 0 #0000;
}

[type='checkbox']:checked:hover,[type='checkbox']:checked:focus,[type='radio']:checked:hover,[type='radio']:checked:focus {
  border-color: transparent;
  background-color: currentColor;
}
